**/*.png
**/*.pyc
**/*.pt
**/*.history
**/*.json
**/wandb
**/*.zip
**/*.gz
**/*.tar
**/*.tgz
**/*.egg
**/*.egg-info
**/*.pth
**/log
**/logs
**/log.txt
**/log.txt.*
**/*.f7
**/*.jpg
**/*.jpeg
**/*.gif
**/*.bmp
**/*.tif
**/*.npy
**/checkpoints
**/ABAW2021